<div class="login-container d-flex justify-content-center align-items-center h-100">
    <div class="login-box d-flex justify-content-center">
        <div class="login-image d-flex align-items-center">
            <img
                class="rounded-circle"
                src="assets/image/LoginImage.jpg"
                alt="IMG"
            />
        </div>
        <div class="container">
            <div class="title">Member login</div>
            <div class="content">
                <form [formGroup]="form">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Username</span>
                            <input
                                class="form-control"
                                formControlName="username"
                                id="username"
                                type="text"
                                placeholder="Enter your username"
                            />
                            <app-error-message
                                [control]="username"
                                controlName="Username"
                            ></app-error-message>
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            <input
                                class="form-control"
                                formControlName="password"
                                type="password"
                                placeholder="Enter your password"
                            />
                            <app-error-message
                                [control]="password"
                                controlName="Password"
                            ></app-error-message>
                        </div>
                    </div>
                    <div
                        *ngIf="invalidLogin"
                        class="alert alert-danger text-center ml-auto mr-auto mt-1"
                    >
                        Invalid username or password
                    </div>
                    <div class="d-flex justify-content-between mb-3 mt-3">
                        <button
                            (click)='signIn()'
                            type="submit"
                            id="btnSubmit"
                            class="btn btn-success w-100"
                        >
                            Login
                        </button>
                    </div>
                    <div class="text-center mt-3">
                        <a class="txt2" routerLink="/register"
                            >Create your Account
                            <i
                                class="fa fa-long-arrow-right m-l-5"
                                aria-hidden="true"
                            ></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!-- <form
            [formGroup]="form"
            class="pt-5 d-flex align-items-center"
        >
            <div class="">
                <h3 class="text-center font-weight-bold">Member Login</h3>

                <div
                    *ngIf="invalidLogin"
                    class="alert alert-danger text-center ml-auto mr-auto mt-1"
                    style="width: 80%"
                >
                    Invalid username or password
                </div>
                <div class="input-group mt-4 mr-auto ml-auto">
                    <div class="input-group-prepend">
                        <div
                            [ngClass]="{
                                'border-danger': username.invalid && (username.touched || username.dirty)
                            }"
                            class="input-group-text bg-light border-right-0">
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                    <input
                        formControlName="username"
                        type="text"
                        id="username"
                        class="form-control border-left-0"
                        name="username"
                        placeholder="Username"
                        [ngClass]="{
                            'is-invalid': username.invalid && (username.touched || username.dirty)
                        }"
                    />
                </div>
                <div
                    class="ml-auto mr-auto" style="width: 80%; height: 24px;">
                    <app-error-message
                        [control]="username"
                        controlName="Username"
                    ></app-error-message>
                </div>

                <div class="input-group mt-2 mr-auto ml-auto">
                    <div class="input-group-prepend">
                        <div
                            [ngClass]="{
                                'border-danger': password.invalid && (password.touched || password.dirty)
                            }"
                            class="input-group-text bg-light border-right-0">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <input
                        formControlName="password"
                        type="password"
                        class="form-control border-left-0"
                        name="password"
                        placeholder="Password"
                        [ngClass]="{
                            'is-invalid': password.invalid && (password.touched || password.dirty)
                        }"
                    />
                </div>
                <div class="ml-auto mr-auto" style="width: 80%; height: 24px;">
                    <app-error-message
                        [control]="password"
                        controlName="Password"
                    ></app-error-message>
                </div>

                <div class="form-group">
                    <div class="d-flex justify-content-center mt-2">
                        <button (click)='signIn()' class="btn btn-success">Login</button>
                    </div>

                    <div class="text-center mt-3">
                        <a class="txt2" routerLink="/register"
                            >Create your Account
                            <i
                                class="fa fa-long-arrow-right m-l-5"
                                aria-hidden="true"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
        </form> -->
    </div>
</div>
