<div class="pl-2 pr-2">
    <div class="text-center">
        <h2 class="d-inline pb-0">Employee information list</h2>
    </div>
    <div class="p-1">
        <div class="d-flex justify-content-between mb-1">
            <input
                type="search"
                class="form-control w-25"
                [(ngModel)]="search"
                id="search"
                placeholder="Search by all fields"
            />
            <div>
                <button class="btn btn-danger mr-1" (click)="deleteEmployees()">
                    <i class="fas fa-trash"></i> Delele employees
                </button>
                <button
                    routerLink="/admin/employee-add"
                    class="btn btn-primary"
                >
                    <i class="fas fa-plus"></i> Add employee
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover w-100" >
                <thead class="bg-dark text-light">
                    <tr>
                        <th>
                            <input type="checkbox" (click)="checkedAll($event)" id="chk_all">
                        </th>
                        <th (click)="changeSortBy('employee_id')" style="width: 6%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>#</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th (click)="changeSortBy('name')" style="width: 15%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Name</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th (click)="changeSortBy('address')" style="width: 15%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Address</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th (click)="changeSortBy('description')" style="width: 24%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Description</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th (click)="changeSortBy('phone')" style="width: 13%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Phone</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th (click)="changeSortBy('status')" style="width: 7%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Status</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th (click)="changeSortBy('department.departmentName')" style="width: 10%">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Department</span>
                                <i class="fa fa-sort"></i>
                            </div>
                        </th>
                        <th style="width: 10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index">
                        <td>
                            <input class="chk_delete w-100" [value]="employee.employee_id" type="checkbox">
                        </td>
                        <td class="text-right">
                            <span *ngIf="sortBy == 'employee_id' && sortDirection== 'ASC'; else DESC">
                                {{ numberTotal - i  - (size * (page - 1)) }}
                            </span>
                            <ng-template #DESC>
                                <span>
                                    {{ i + 1 + (size * (page - 1)) }}
                                </span>
                            </ng-template>
                        </td>
                        <td
                            [routerLink]="[
                                '/admin/employee-detail',
                                employee.employee_id
                            ]"
                        >
                            <div class="td-name text-primary" placement="top" [ngbTooltip]="employee.name">
                                {{
                                    employee.name.length > 15
                                        ? (employee.name | slice: 0:15) + ".."
                                        : employee.name
                                }}
                            </div>
                        </td>
                        <td>
                            <div placement="top"
                                [ngbTooltip]="employee.address.length > 200
                                ? (employee.address | slice: 0:200) + '..'
                                : employee.address">
                                {{
                                    employee.address.length > 14
                                        ? (employee.address | slice: 0:14) + ".."
                                        : employee.address
                                }}
                            </div>
                        </td>
                        <td>
                            <div placement="top" [ngbTooltip]="employee.description?.length > 200
                                ? (employee.description | slice: 0:200) + '..'
                                : employee.description">
                                {{
                                    employee.description?.length > 20
                                        ? (employee.description | slice: 0:20) + ".."
                                        : employee.description
                                }}
                            </div>
                        </td>
                        <td class="text-right">{{ employee.phone }}</td>
                        <td class="text-right">
                            <span *ngIf="employee.status" class="badge badge-success">
                                active
                            </span>
                            <span *ngIf="!employee.status" class="badge badge-danger">
                                waiting
                            </span>
                        </td>
                        <td>{{ employee.department.departmentName }}</td>
                        <td>
                            <button
                                (click)="editEmployee(employee.employee_id)"
                                class="btn btn-info mr-1"
                            >
                                <i class="fas fa-edit fa-sm"></i>
                            </button>
                            <button
                                (click)="deleteEmployee(employee.employee_id)"
                                data-toggle="modal"
                                data-target="#modal-delete"
                                class="btn btn-danger"
                            >
                                <i class="fa fa-trash fa-sm"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p
                class="alert alert-danger text-center"
                *ngIf="employees?.length == 0"
            >
                Not found
            </p>
        </div>

        <app-pagination
            [arrLength]="employees.length"
            [size]="size"
            [page]="page"
            [pageTotal]="pageTotal"
            [numberTotal]="numberTotal"
            (changePage)="searchEmployee($event)"
        ></app-pagination>
    </div>
</div>
